html, body {
    background-color: #ffecdb;
    box-sizing: border-box;
}

h4 {
    color: #c45901;
}

table .btn {
    margin: 5px;
}

/*@media
(min-width: 768px) and (max-width: 1238px) and (orientation: landscape) {
     .row {
         --bs-gutter-x: 0rem;
     }
}*/